.tracks_container {
  width: 100%;
  margin-bottom: 50px;
}
.tracks_table {
  width: 95%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #fff;
  border-bottom: 0;
}
.tracks_table thead,
.tracks_table tbody {
  width: 100%;
  margin-bottom: 0 !important;
}
.tracks_table td {
  padding: 10px;
}
.tracks_table th {
  padding: 10px ;
  border-right: none;
  margin-bottom: 0 !important;
}
.tracks_table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #fff;
}
.tracks_table th,
.tracks_table td {
  text-align: center;
  width: calc(100% / 5);
  border-right: 1px solid #fff;
}
.tracks_table th:last-of-type,
.tracks_table td:last-of-type {
  border-right: 0;
}
.tracks_table th {
  font-size: 20px;
  color: #000;
  font-weight: 600;
}
.tracks_table td {
  font-size: 18px;
  color: #000;
  font-weight: 400;
}
.track_item_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.track_item_btns button {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}
.track_item_btns button:hover{
    color: teal;
    background-color: #fff;
}